.bomain-div-home-pagedy {
    height: 93vh;
}

.margin-card {
    margin-top: 20px;
}

.card-title {
    font-size: 60px;
    font-weight: 400;
    text-shadow: 2px 2px #D6CCC2;
    color: #39FF14;
}

.card-size img {
    height: 350px;
    object-fit: cover;
}