.info-personal-col {
    text-align: left;
}

.profile-img {
    object-fit: cover;
    width: 100%;
    height: 600px;
}

.profile-info-text {
    font-size: 30px;
    font-weight: 200;
    text-shadow: 2px 2px #D6CCC2;
    color: rgb(30, 30, 30);
    justify-content: center;
}

.profile-info-text-h1 {
    font-size: 20px;
    font-weight: 200;
    color: rgb(30, 30, 30);
    justify-content: start;
}

.profile-event-title {
    color: rgb(30, 30, 30);
}

.profile-images {
    width: 90%;
    height: 220px;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    object-fit: cover;
}

.profile-card-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 25px;
    font-size: 22px;
    font-weight: 200;
    color: rgb(30, 30, 30);
    margin-top: 2%;
}